{% load static %}
<div id="page4" hidden="true">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-outline-dark active" aria-pressed="true" id="getInfoBtn" hidden="true">Внести данные из привязаного исследования</button>
                    <div class="researchInfo">
                        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="protocol_number" name="protocol_number" placeholder="Номер протокола" required>
                        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="protocol_name" name="protocol_name" placeholder="Название протокола" required>
                        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="drug_name" name="drug_name" placeholder="Название препарата" required>
                        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="main_researcher" name="main_researcher" placeholder="Главный исследователь" required>
                        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="research_center" name="research_center" placeholder="Исследовательский центр" required >
                        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="customer" name="customer" placeholder="Заказчик исследования" required>
                        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="customer_contacts" name="customer_contacts" placeholder="Контактные данные заказчика" required>
                        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="duration" name="duration" placeholder="Дата проведение исследования" required>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-header">
            <div class="row justify-content-md-center"> 
                <div class="col-lg-1">
                    <button type="button" class="btn btn-outline-dark" onclick="changePage('page4', 'page3')">Назад</button>
                </div>
                <div class="col-4 "></div>
                <div class="col-lg-1">
                    <button type="button" class="btn btn-dark" onclick="checkError()">Далее</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="page5" hidden="true">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h3>Письмо в ЛЭК</h3><hr>
                    <div class="letter" id="letter">
                        <div class="letter_form" id="letter_form">
                            <input type="file" class="form-control"  name="letter">
                            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Версия" name="letter_version">
                            <input type="date" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Дата" class="datepicker" name="letter_date">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md"><button id="addFieldButton" type="button" class="btn btn-outline-dark" onclick="dublicateInputs(cloneId='letter_form', parentId='letter')">Добавить поле</button></div>
                <div class="col"></div>
                <div class="col offset-6"><button id="addFieldButton" type="button" class="btn btn-outline-dark" onclick="deleteDublicateInputs(fieldClass='letter_form')">Удалить поле</button></div>
            </div>
        </div>
        <div class="card-header">
            <div class="row justify-content-md-center"> 
                <div class="col-lg-1">
                    <button type="button" class="btn btn-outline-dark" onclick="changePage('page5', 'page4')">Назад</button>
                </div>
                <div class="col-4 "></div>
                <div class="col-lg-1">
                    <button type="button" class="btn btn-outline-dark" onclick="changePage('page5', 'page6')">Далее</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="page6" hidden="true">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h3>Список членов команды</h3><hr>
                    <div class="member_list" id="member_list">
                        <div class="member_list_form" id="member_list_form">
                            <input type="file" class="form-control"  name="member_list">
                            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Версия" name="member_list_version">
                            <input type="date" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Дата" id="datepicker" name="member_list_date">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="col-md"><button id="addFieldButton" type="button" class="btn btn-outline-dark" onclick="dublicateInputs(cloneId='member_list_form', parentId='member_list')">Добавить поле</button></div>
                    <div class="col"></div>
                    <div class="col offset-6"><button id="addFieldButton" type="button" class="btn btn-outline-dark" onclick="deleteDublicateInputs(fieldClass='member_list_form')">Удалить поле</button>
                </div>
            </div>
        </div>
        <div class="card-header">
            <div class="row justify-content-md-center"> 
                <div class="col-lg-1">
                    <button type="button" class="btn btn-outline-dark" onclick="changePage('page6', 'page5')">Назад</button>
                </div>
                <div class="col-4 "></div>
                <div class="col-lg-1">
                    <button type="button" class="btn btn-outline-dark" onclick="changePage('page6', 'page7')">Далее</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="page7" hidden="true">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">

                    <h3>Разрешение МЗ РФ</h3><hr>
                    <div class="permit" id="permit">
                        <div class="permit_form" id="permit_form">
                            <input type="file" class="form-control"  name="permit">
                            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Номер разрешения" name="permit_version">
                            <input type="date" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Дата" id="datepicker" name="permit_date">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md"><button id="addFieldButton" type="button" class="btn btn-outline-dark" onclick="dublicateInputs(cloneId='permit_form', parentId='permit')">Добавить поле</button></div>
                <div class="col"></div>
                <div class="col offset-6"><button id="addFieldButton" type="button" class="btn btn-outline-dark" onclick="deleteDublicateInputs(fieldClass='permit_form')">Удалить поле</button></div>
            </div>
        </div>
        <div class="card-header">
            <div class="row justify-content-md-center"> 
                <div class="col-lg-1">
                    <button type="button" class="btn btn-outline-dark" onclick="changePage('page7', 'page6')">Назад</button>
                </div>
                <div class="col-4 "></div>
                <div class="col-lg-1">
                    <button type="button" class="btn btn-outline-dark" onclick="changePage('page7', 'page8')">Далее</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="page8" hidden="true">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h3>Протокол исследования</h3><hr>
                    <div class="protocol" id="protocol">
                        <div class="protocol_form" id="protocol_form">
                            <input type="file" class="form-control"  name="protocol">
                            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Версия" name="protocol_version">
                            <input type="date" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Дата" id="datepicker" name="protocol_date">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md"><button id="addFieldButton" type="button" class="btn btn-outline-dark" onclick="dublicateInputs(cloneId='protocol_form', parentId='protocol')">Добавить поле</button></div>
                <div class="col"></div>
                <div class="col offset-6"><button id="addFieldButton" type="button" class="btn btn-outline-dark" onclick="deleteDublicateInputs(fieldClass='protocol_form')">Удалить поле</button></div>
            </div>
        </div>
        <div class="card-header">
            <div class="row justify-content-md-center"> 
                <div class="col-lg-1">
                    <button type="button" class="btn btn-outline-dark" onclick="changePage('page8', 'page7')">Назад</button>
                </div>
                <div class="col-4 "></div>
                <div class="col-lg-1">
                    <button type="button" class="btn btn-outline-dark" onclick="changePage('page8', 'page9')">Далее</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="page9" hidden="true">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h3>Форма информированого листка</h3><hr>
                    <div class="inform_list" id="inform_list">
                        <div class="inform_list_form" id="inform_list_form">
                            <input type="file" class="form-control"  name="inform_list">
                            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Версия" name="inform_list_version">
                            <input type="date" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Дата" id="datepicker" name="inform_list_date">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md"><button id="addFieldButton" type="button" class="btn btn-outline-dark" onclick="dublicateInputs(cloneId='inform_list_form', parentId='inform_list')">Добавить поле</button></div>
                <div class="col"></div>
                <div class="col offset-6"><button id="addFieldButton" type="button" class="btn btn-outline-dark" onclick="deleteDublicateInputs(fieldClass='inform_list_form')">Удалить поле</button></div>
            </div>
        </div>
        <div class="card-header">
            <div class="row justify-content-md-center"> 
                <div class="col-lg-1">
                    <button type="button" class="btn btn-outline-dark" onclick="changePage('page9', 'page8')">Назад</button>
                </div>
                <div class="col-4 "></div>
                <div class="col-lg-1">
                    <button type="button" class="btn btn-outline-dark" onclick="changePage('page9', 'page10')">Далее</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="page10" hidden="true">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h3>Брошюра исследователя</h3><hr>
                    <div class="brochure_researcher" id="brochure_researcher">
                        <div class="brochure_researcher_form" id="brochure_researcher_form">
                            <input type="file" class="form-control"  name="brochure_researcher">
                            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Версия" name="brochure_researcher_version">
                            <input type="date" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Дата" id="datepicker" name="brochure_researcher_date">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md"><button id="addFieldButton" type="button" class="btn btn-outline-dark" onclick="dublicateInputs(cloneId='brochure_researcher_form', parentId='brochure_researcher')">Добавить поле</button></div>
                <div class="col"></div>
                <div class="col offset-6"><button id="addFieldButton" type="button" class="btn btn-outline-dark" onclick="deleteDublicateInputs(fieldClass='brochure_researcher_form')">Удалить поле</button></div>
            </div>
        </div>
        <div class="card-header">
            <div class="row justify-content-md-center"> 
                <div class="col-lg-1">
                    <button type="button" class="btn btn-outline-dark" onclick="changePage('page10', 'page9')">Назад</button>
                </div>
                <div class="col-4 "></div>
                <div class="col-lg-1">
                    <button type="button" class="btn btn-outline-dark" onclick="changePage('page10', 'lastPage')">Далее</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="lastPage" hidden="true">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h3>Договор страхования</h3><hr>
                    <div class="insurance_contract" id="insurance_contract">
                        <div class="insurance_contract_form" id="insurance_contract_form">
                            <input type="file" class="form-control"  name="insurance_contract">
                            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Версия" name="insurance_contract_version">
                            <input type="date" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Дата" id="datepicker" name="insurance_contract_date">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md"><button id="addFieldButton" type="button" class="btn btn-outline-dark" onclick="dublicateInputs(cloneId='insurance_contract_form', parentId='insurance_contract')">Добавить поле</button></div>
                <div class="col"></div>
                <div class="col offset-6"><button id="addFieldButton" type="button" class="btn btn-outline-dark" onclick="deleteDublicateInputs(fieldClass='insurance_contract_form')">Удалить поле</button></div>
            </div>
        </div>
        <div class="card-header">
            <div class="row justify-content-md-center"> 
                <div class="col-lg-1">
                    <button type="button" class="btn btn-outline-dark" onclick="changePage('lastPage', 'page10')">Назад</button>
                </div>
                <div class="col-4 "></div>
                <div class="col-lg-1">
                    <button type="button" class="btn btn-outline-dark" onclick="changePage('lastPage', 'pageAnotherFiles')">Далее</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/fileInput.js' %}"></script>
<script src="{% static 'js/loadForm.js' %}"></script>
<script>
$(function(){
    $("#datepicker").datepicker();
});
</script>