{% load static %}
<div id="page4" hidden="true">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <div id="loadForm">
                        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="work_name" placeholder="Название работы">
                        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="division" placeholder="Название подразделения">
                        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="executor" placeholder="Ответственный исполнитель работы">
                    </div>
                </div>
            </div>
        </div>
        <div class="card-header">
            <div class="row justify-content-md-center"> 
                <div class="col-lg-1">
                    <button type="button" class="btn btn-outline-dark" onclick="changePage('page4', 'page3')">Назад</button>
                </div>
                <div class="col-4 "></div>
                <div class="col-lg-1">
                    <button type="button" class="btn btn-outline-dark" onclick="changePage('page4', 'page5')">Далее</button>
                </div>
            </div>
        </div>
    </div> 
</div>

<div id="page5" hidden="true">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h3>Письмо-обращение на имя председателя КЭ</h3><hr>
                    <div class="letter_of_appeal" id="letter_of_appeal">
                        <div class="letter_of_appeal_form" id="letter_of_appeal_form">
                            <input type="file" class="form-control" name="letter_of_appeal">
                            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Версия" name="letter_of_appeal_version">
                            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Дата" name="letter_of_appeal_date">
                        </div>
                    </div>
                    <button type="button" class="btn btn-warning" onclick="dublicateInputs(cloneId='letter_of_appeal_form', parentId='letter_of_appeal')">Добавить поле</button>
                </div>
            </div>
        </div>
        <div class="card-header">
            <div class="row justify-content-md-center"> 
                <div class="col-lg-1">
                    <button type="button" class="btn btn-outline-dark" onclick="changePage('page5', 'page4')">Назад</button>
                </div>
                <div class="col-4 "></div>
                <div class="col-lg-1">
                    <button type="button" class="btn btn-outline-dark" onclick="changePage('page5', 'page6')">Далее</button>
                </div>
            </div>
        </div>
    </div> 
</div>

<div id="page6" hidden="true">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h3>Протокол исследования</h3><hr>
                    <div class="research_protocol" id="research_protocol">
                        <div class="research_protocol_form" id="research_protocol_form">
                            <input type="file" class="form-control" name="research_protocol">
                            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Версия" name="research_protocol_version">
                            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Дата" name="research_protocol_date">
                        </div>
                    </div>
                    <button type="button" class="btn btn-warning" onclick="dublicateInputs(cloneId='research_protocol_form', parentId='research_protocol')">Добавить поле</button>
                </div>
            </div>
        </div>
        <div class="card-header">
            <div class="row justify-content-md-center"> 
                <div class="col-lg-1">
                    <button type="button" class="btn btn-outline-dark" onclick="changePage('page6', 'page5')">Назад</button>
                </div>
                <div class="col-4 "></div>
                <div class="col-lg-1">
                    <button type="button" class="btn btn-outline-dark" onclick="changePage('page6', 'page7')">Далее</button>
                </div>
            </div>
        </div>
    </div> 
</div>

<div id="page7" hidden="true">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h3>Краткая аннотация на используемые лекарственные препараты</h3><hr>
                    <div class="annotation" id="annotation">
                        <div class="annotation_form" id="annotation_form">
                            <input type="file" class="form-control" name="annotation">
                            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Версия" name="annotation_version">
                            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Дата" name="annotation_date">
                        </div>
                    </div>
                    <button type="button" class="btn btn-warning" onclick="dublicateInputs(cloneId='annotation_form', parentId='annotation')">Добавить поле</button>
                </div>
            </div>
        </div>
        <div class="card-header">
            <div class="row justify-content-md-center"> 
                <div class="col-lg-1">
                    <button type="button" class="btn btn-outline-dark" onclick="changePage('page7', 'page6')">Назад</button>
                </div>
                <div class="col-4 "></div>
                <div class="col-lg-1">
                    <button type="button" class="btn btn-outline-dark" onclick="changePage('page7', 'page8')">Далее</button>
                </div>
            </div>
        </div>
    </div> 
</div>

<div id="page8" hidden="true">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h3>Профессиональные автобиографии исследователей</h3><hr>
                    <div class="autobiography" id="autobiography">
                        <div class="autobiography_form" id="autobiography_form">
                            <input type="file" class="form-control" name="autobiography">
                            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Версия" name="autobiography_version">
                            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Дата" name="autobiography_date">
                        </div>
                    </div>
                    <button type="button" class="btn btn-warning" onclick="dublicateInputs(cloneId='autobiography_form', parentId='autobiography')">Добавить поле</button>
                </div>
            </div>
        </div>
        <div class="card-header">
            <div class="row justify-content-md-center"> 
                <div class="col-lg-1">
                    <button type="button" class="btn btn-outline-dark" onclick="changePage('page8', 'page7')">Назад</button>
                </div>
                <div class="col-4 "></div>
                <div class="col-lg-1">
                    <button type="button" class="btn btn-outline-dark" onclick="changePage('page8', 'pageAnotherFiles')">Далее</button>
                </div>
            </div>
        </div>
    </div> 
</div>

<script src="{% static 'js/fileInput.js' %}"></script>
<script src="{% static 'js/loadForm.js' %}"></script>