{% extends "base.html" %}
{% block content %}
{% load static %}
<script type="text/javascript" src="{% static 'js/loadFiles.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<form method="POST" enctype="multipart/form-data" class="text-center" id="formLoad">
    {% csrf_token %}
    <div class="col-sm">
        {% if researchType == "clinicalResearch" %}
            <h1 class='text-center'>Клиническое исследование</h1>
        {% endif %}

        {% if researchType == "preclinicalResearch" %}
            <h1 class='text-center'>Доклиническое исследование</h1>
        {% endif %}

        {% if researchType == "initiativeResearch" %}
            <h1 class='text-center'>Инициативное исследование</h1>
        {% endif %}

        {% if researchType == "dissertationWork" %}
            <h1 class='text-center'>Диссертационная работа</h1>
        {% endif %}

        {% include "research/loadForms/setCalendar.html" %}

        {% if researchType == "clinicalResearch" %}
            {% include "research/loadForms/clinicalResearchLoadForm.html" %}
        {% endif %}

        {% if researchType == "preclinicalResearch" %}
            {% include "research/loadForms/preclinicalResearchLoadForm.html" %}
        {% endif %}

        {% if researchType == "initiativeResearch" %}
            {% include "research/loadForms/initiativeResearchLoadForm.html" %}
        {% endif %}

        {% if researchType == "dissertationWork" %}
            {% include "research/loadForms/dissertationWorkLoadForm.html" %}
        {% endif %}
        <h4 id="error"> </h4>
        <div id="pageAnotherFiles" hidden="true">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h1>Дополнительные файлы</h1>
                            <div class="another_document" id="another_document">
                                <div class="another_document_form" id="another_document_form">
                                    <input type="file" class="form-control" name="another_document">
                                    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Название документа" name="another_document_name">
                                    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Версия" name="another_document_version">
                                    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Дата" id="datepicker" name="another_document_date">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md"><button id="addFieldButton" type="button" class="btn btn-outline-dark" onclick="dublicateInputs(cloneId='another_document_form', parentId='another_document')">Добавить поле</button></div>
                        <div class="col"></div>
                        <div class="col offset-6"><button id="addFieldButton" type="button" class="btn btn-outline-dark" onclick="deleteDublicateInputs(fieldClass='another_document_form')">Удалить поле</button></div>
                    </div>
                </div>
                <div class="card-header">
                    <div class="row justify-content-md-center"> 
                        <div class="col-lg-1">
                            <button type="button" class="btn btn-outline-dark" onclick="changePage('pageAnotherFiles', 'lastPage')">Назад</button>
                        </div>
                        <div class="col-4 "></div>
                        <div class="col-lg-1">
                            <button type="submit" class="btn btn-success">Конец</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}