{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container">
    <div class="row">
    {% if method == "loadResearch" %}
      <div  class="col-sm-3">
        <a  href="{% url 'loadResearch' 'clinicalResearch' %}"><img src="{% static 'img/image_not_found.png' %}"  > Клиническое исследование</a>
      </div>
      <div class="col-sm-3">
        <a href="{% url 'loadResearch' 'preclinicalResearch' %}"><img src="{% static 'img/image_not_found.png' %}"  >Доклиническое исследование</a>
      </div>
      <div class="col-sm-3">       
        <a href="{% url 'loadResearch' 'initiativeResearch' %}"><img src="{% static 'img/image_not_found.png' %}"  >Инициативное исследование</a>
      </div>
      <div class="col-sm-3">       
        <a href="{% url 'loadResearch' 'dissertationWork' %}"><img src="{% static 'img/image_not_found.png' %}"  >Диссертационная работа</a>
      </div>
      {% endif %}
      {% if method == "watchResearch" %}
      <div class="col-sm-3">
        <a href="{% url 'WatchResearchList' 'clinicalResearch' %}"><img src="{% static 'img/image_not_found.png' %}"  >Клиническое исследование</a>
      </div>
      <div class="col-sm-3">
        <a href="{% url 'WatchResearchList' 'preclinicalResearch' %}"><img src="{% static 'img/image_not_found.png' %}"  >Доклиническое исследование</a>
      </div>
      <div class="col-sm-3">       
        <a href="{% url 'WatchResearchList' 'initiativeResearch' %}"><img src="{% static 'img/image_not_found.png' %}"  >Инициативное исследование</a>
      </div>
      <div class="col-sm-3">       
        <a href="{% url 'WatchResearchList' 'dissertationWork' %}"><img src="{% static 'img/image_not_found.png' %}"  >Диссертационная работа</a>
      </div>
      {% endif %}
    </div>
  </div>


{% endblock %}