{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-5"></div>
    <div class="col-5"></div>
    <div class="col"><a class="custom_button"  href="{% url 'createMeeting' %}">
      <svg width="30px" height="30px" viewBox="0 0 16 18" class="bi bi-plus-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
        <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
        
      </svg>Создать заседание</a></div>
    <div class="col-1"></div>
  </div>

<table class="custom_table table-hover" >
  <thead  >
    <tr>
      <th >Дата проведения</th>
      <th>Время</th>
      <!-- <th scope="col">Повестка</th> -->
    </tr>
  </thead>
  <tbody>
    {% for meeting in meetingList %}
      <tr style="cursor: pointer" onclick="window.location.href='../media/{{ meeting.subpoena }}'; return false" target="_blank">
        <td >{{ meeting.date }}</th>
        <td>{{ meeting.time }}</td>
        <!-- <td><a class="btn btn-success" href="../media/{{ meeting.subpoena }}" target="_blank">Открыть</a></td> -->
        </tr>
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
