body {
  font-family: 'Ruda', sans-serif;
}

.password-icon {
    float: right;
    position: relative;
    margin: -25px 10px 0 0;
    cursor: pointer;
}

.custom-toggler.navbar-toggler {
    border-color: none;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(48, 48, 48, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.menu {
	width: 100%;
	display: table;
    border: solid;    
    border-color: #303030;
    border-radius: 25px;
    padding:  0;
    font-size: 13pt;
}
.menu ul {
	display: table-row;        
}
.menu li {
	display: table-cell;
    width: 25%;
    cursor: pointer;
	
}
.menu ul li:hover  {
	background: #303030;    
    border: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #303030;
    border-radius: 25px;
}
.menu li:hover > a {
	color: white;
}

.menu li a {
	display: block;
	color: #303030;
	text-align: center;
    margin:  5px;
    text-decoration: none;
    
}

#logo {
  height: 60px;
}


h1 {
  font-family: Montserrat;
}

.field__file-button {
  width: 130px;
  height: 60px;
  background: #1bbc9b;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}

.custom_table {
    font-size: 16pt;
    border-collapse: collapse;
    text-align: center;
    margin: auto;
    width: 85%;
    margin-top: 20px;
        
    }

    .custom_table th{
        background-color: #303030;
        color: white;
        
    }
    .custom_table th, .custom_table td {
    border-style: solid;
    border-width: 0 5px 5px 0;
    border-color: white;
    height: 55px;
    }
   
    .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
        background-color: #C0C0C0;
      }

      .custom_table tr:nth-child(odd) {
        background: #E8E8E8;
      }
      .custom_table tr:nth-child(even) {
        background: #F6F6F6;
      }




      
.custom_button {  
    border: solid;    
    border-color: #303030;
    border-radius: 25px;
    padding:  5px;
    font-size: 13pt;    
    text-decoration: none;  
    color: #303030;
    text-align: center;
    width: auto;
    min-width: 150px;
    background-color: white;
    white-space: nowrap;
}

.custom_button:hover{
    text-decoration: none;
    background-color: #303030;
    color: white;

}


.custom_table_meeting {
    border-collapse: collapse;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    width: 100%;
        
    }

    .custom_table_meeting th{
        background-color: #303030;
        color: white;
        
    }
    .custom_table_meeting th, .custom_table_meeting td {
    border-style: solid;
    border-width: 0 5px 5px 0;
    border-color: white;
    height: 55px;
    }
   
    

      .custom_table_meeting tr:nth-child(odd) {
        background: #E8E8E8;
      }
      .custom_table_meeting tr:nth-child(even) {
        background: #F6F6F6;
      }
