{% load static %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div id="loadForm">
        <div class="researchInfo">
            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="name_research" placeholder="Название исследования">
            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="main_researcher" placeholder="Главные исследователи">
            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="division" placeholder="Наименование подразделения">
        </div>

        <hr>
        <h1>Аннотация на используемые препараты</h1>
        <div class="professional_autobiographies" id="professional_autobiographies">
            <div class="professional_autobiographies_form" id="professional_autobiographies_form">
                <input type="file" name="professional_autobiographies">
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Версия" name="professional_autobiographies_version">
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Дата" name="professional_autobiographies_date">
            </div>
        </div>
        <button type="button" class="btn btn-warning" onclick="dublicateInputs(cloneId='professional_autobiographies_form', parentId='professional_autobiographies')">Добавить поле</button>


        <hr>
        <h1>Информационный листок и согласие</h1>
        <div class="information_leaflet" id="information_leaflet">
            <div class="information_leaflet_form" id="information_leaflet_form">
                <input type="file" name="information_leaflet">
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Версия" name="information_leaflet_version">
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Дата" name="information_leaflet_date">
            </div>
        </div>
        <button type="button" class="btn btn-warning" onclick="dublicateInputs(cloneId='information_leaflet_form', parentId='information_leaflet')">Добавить поле</button>

        <hr>
        <h1>Профессиональные автобиографии</h1>
        <div class="professional_autobiographies" id="professional_autobiographies">
            <div class="professional_autobiographies_form" id="professional_autobiographies_form">
                <input type="file" name="professional_autobiographies">
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Версия" name="professional_autobiographies_version">
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Дата" name="professional_autobiographies_date">
            </div>
        </div>
        <button type="button" class="btn btn-warning" onclick="dublicateInputs(cloneId='professional_autobiographies_form', parentId='professional_autobiographies')">Добавить поле</button>

        <hr>
        <h1>Индивидуальная регистрационная карта пациента</h1>
        <div class="registration_card" id="registration_card">
            <div class="registration_card_form" id="registration_card_form">
                <input type="file" name="registration_card">
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Версия" name="registration_card_version">
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Дата" name="registration_card_date">
            </div>
        </div>
        <button type="button" class="btn btn-warning" onclick="dublicateInputs(cloneId='registration_card_form', parentId='registration_card')">Добавить поле</button>

        <hr>
        <h1>Техническое задание</h1>
        <div class="technical_task" id="technical_task">
            <div class="technical_task_form" id="technical_task_form">
                <input type="file" name="technical_task">
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Версия" name="technical_task_version">
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Дата" name="technical_task_date">
            </div>
        </div>
        <button type="button" class="btn btn-warning" onclick="dublicateInputs(cloneId='technical_task_form', parentId='technical_task')">Добавить поле</button>

        <hr>
        <h1>Календарный план</h1>
        <div class="calendar_plan" id="calendar_plan">
            <div class="calendar_plan_form" id="calendar_plan_form">
                <input type="file" name="calendar_plan">
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Версия" name="calendar_plan_version">
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Дата" name="calendar_plan_date">
            </div>
        </div>
        <button type="button" class="btn btn-warning" onclick="dublicateInputs(cloneId='calendar_plan_form', parentId='calendar_plan')">Добавить поле</button>

        <hr>
        <h1>Смета расходов</h1>
        <div class="costings" id="costings">
            <div class="costings_form" id="costings_form">
                <input type="file" name="costings">
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Версия" name="costings_version">
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Дата" name="costings_date">
            </div>
        </div>
        <button type="button" class="btn btn-warning" onclick="dublicateInputs(cloneId='costings_form', parentId='costings')">Добавить поле</button>

        <hr>
        <h1>Одобрение</h1>
        <div class="approval" id="approval">
            <div class="approval_form" id="approval_form">
                <input type="file" name="approval">
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Версия" name="approval_version">
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Дата" name="approval_date">
            </div>
        </div>
        <button type="button" class="btn btn-warning" onclick="dublicateInputs(cloneId='approval_form', parentId='approval')">Добавить поле</button>

        <button type="submit">Конец</button>
        <input hidden="true" value="1" name="research">
    </div>
</form>

<script src="{% static 'js/fileInput.js' %}"></script>
<script src="{% static 'js/loadForm.js' %}"></script>