{% if researchList %}
        <select name="relationResearchId" class="js-selectize" placeholder="Выберите исследование">
                <option value=""></option>
                {% for research in researchList %}
                <option value="{{ research.id }}">{{ research.protocol_number }}</option>
                {% endfor %}
        </select>
        <button type="button" class="btn btn-secondary" id="old_version_button" onclick="date_accepted_set_visible_false()">Старая версия</button>
        <button type="button" class="btn btn-info" id="new_version_button" onclick="date_accepted_set_visible_true()">Новая версия</button>
        <div class='calendar' id='date' hidden="true" >
                Дата заседания:
                <input placeholder="Дата заседания" name="date_accepted" class="form-control" type="date" id="dateInput">
                <hr>
        </div>
        <script>
                function date_accepted_set_visible_false()
                {
                    document.getElementById("date").hidden = false
                    document.getElementById("new_version_button").disabled = false
                    document.getElementById("old_version_button").disabled = true
                    document.getElementById("dateInput").required =true
                }
                function date_accepted_set_visible_true()
                {
                    document.getElementById("date").hidden = true
                    document.getElementById("old_version_button").disabled = false
                    document.getElementById("new_version_button").disabled = true
                    document.getElementById("dateInput").required = false
                }
        </script>

{% endif %} 