{% extends "base.html" %}
{% block content %}

<div class="col-sm">
    {% if requestType == 'firstRequest' %}
        <h1 class='text-center'>Первичная заявка</h1> 
    {% endif %}  

    {% if requestType == 'secondRequest' %}
        <h1 class='text-center'>Вторичная заявка</h1> 
    {% endif %}

{% if researchType == "clinicalResearch" %}
    <h1 class='text-center'>Клиническое исследование</h1>
    {% include "research/loadForms/clinicalResearchLoadForm.html" %}
{% endif %}

{% if researchType == "preclinicalResearch" %}
    <h1 class='text-center'>Доклиническое исследование</h1>
    {% include "research/loadForms/preclinicalResearchLoadForm.html" %}
{% endif %}

{% if researchType == "initiativeResearch" %}
    <h1 class='text-center'>Инициативное исследование</h1>
    {% include "research/loadForms/initiativeResearchLoadForm.html" %}
{% endif %}

{% if researchType == "dissertationWork" %}
    <h1 class='text-center'>Диссертационная работа</h1>
    {% include "research/loadForms/dissertationWorkLoadForm.html" %}
{% endif %}
</div>
{% endblock %}