<table class="custom_table">
  <thead>
    <tr>
      <th>Номер протокола</th>
      <th>Владелец</th>
      <th>Открыть</th>
    </tr>
  </thead>
  <tbody>
    {% for research in researchList %}
      <tr>
        <td>{{ research.protocol_number }}</th>
        <td>{{ research.owner }}</td>
        <td>
        <form action="{% url 'watchResearch' research.id %}">
          <button type="submit" class="btn btn-info">Открыть</button></td>
        </form>
      </tr>
    {% endfor %}
  </tbody>
</table>
