{% if research.date_accepted %}
    <table class="table">
      <tbody>
        <tr>
          <th>Дата принятия</th>
          <td>{{ research.date_accepted }}</td>
        </tr>
        <tr>
          <th>Номер протокола</th>
          <td>{{ research.protocol_number }}</td>
        </tr>
        <tr>
          <th>Название протокола</th>
          <td>{{ research.protocol_name }}</td>
        </tr>
        <tr>
          <th>Название препарата</th>
          <td>{{ research.drug_name }}</td>
        </tr>
        <tr>
          <th>Главный исследователь</th>
          <td>{{ research.main_researcher }}</td>
        </tr>
        <tr>
          <th>Исследовательский центр</th>
          <td>{{ research.research_center }}</td>
        </tr>
        <tr>
        <th>Заказчик исследования</th>
          <td>{{ research.customer }}</td>
        </tr>
        <tr>
        <th>Контактные данные заказчика</th>
          <td>{{ research.customer_contacts }}</td>
        </tr>
        <th>Срок проведения исследования</th>
          <td>{{ research.duration }}</td>
        </tr>
      </tbody>
    </table>
{% endif %}