    <table class="table">
      <tbody>
        <tr>
          <th>Дата принятия</th>
          <td>{{ research.date_accepted }}</td>
        </tr>
        <tr>
          <th>Название работы</th>
          <td>{{ research.work_name }}</td>
        </tr>
        <tr>
          <th>Специальность</th>
          <td>{{ research.specialization }}</td>
        </tr>
        <tr>
          <th>Название подразделения</th>
          <td>{{ research.division }}</td>
        </tr>
        <tr>
          <th>Ответственный исполнитель работы</th>
          <td>{{ research.executor }}</td>
        </tr>
        <tr>
          <th>Научные руководители</th>
          <td>{{ research.main_researcher }}</td>
        </tr>
        <tr>
      </tbody>
    </table>
