{% if research.date_accepted %}
    <table class="table">
      <tbody>
        <tr>
          <th>Дата принятия</th>
          <td>{{ research.date_accepted }}</td>
        </tr>
        <tr>
          <th>Название работы</th>
          <td>{{ research.work_name }}</td>
        </tr>
        <tr>
          <th>Специальность</th>
          <td>{{ research.specialization }}</td>
        </tr>
        <tr>
          <th>Название подразделения</th>
          <td>{{ research.division }}</td>
        </tr>
      </tbody>
    </table>
{% endif %}