{% extends "auth/base.html" %}

{% block title %}Create an account{% endblock %}

{% block content %}
<div class='text-center col-md-8 offset-md-2'>
    <h1>Регистрация</h1>
    <div class="container">
    <div class="login-form col-md-8 offset-md-2" >
        <h3>{{error}}</h3>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <input type="email" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Почта">
                <br><input type="text" name="last_name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Фамилия">
                <br><input type="text" name="first_name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Имя">
                <br><input type="text" name="middle_name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Отчество">

                <br><input type="password" name="password" class="form-control password1" id="exampleInputPassword1" aria-describedby="emailHelp" placeholder="Пароль">
                <span class="fa fa-fw fa-eye password-icon show-password"></span>
                <br><input type="password" name="password2" class="form-control password2" id="exampleInputPassword2" placeholder="Повторите пароль">
            </div>
            <input type="hidden" name="next" value="{{ next }}"/>
            <button type="submit" class="custom_button">Зарегистрироваться</button>
            <button type="button" class="custom_button" onclick="document.location='{% url 'login' %}'">Авторизация</button>
        </form>
    </div>
    </div>
</div>
{% endblock %}


