{% load static %}
<div class="container">
    
    <div class="navmen">
    <div  align="center" class='row'> 
        <div  class="col-sm-3">
            <a  href="{% url 'researchTypeList' %}">Приглашение на заседание</a>
        </div>
        <div  class="col-sm-3">
            <a  text-align="center" href="{% url 'researchTypeList' %}">Экспертиза</a> 
        </div>
        <div  class="col-sm-3">
            <a  href="{% url 'researchTypeList' %}">Заседания</a>   
        </div>
        <div  class="col-sm-3">
            <a href="{% url 'researchTypeList' %}">Подача документов</a>
        </div>

    </div>
</div></br>