{% load static %}

<div class="container">
  <div class='form-inline'>
    <a class="navbar-brand "  href="{% url 'index' %}"><img class="img-fluid" src="{% static 'img/logo.png' %}" ></a>
    <div class="navbar-toggler ml-auto">
        {{ request.user.get_full_name }}
        <button class="navbar-toggler ml-auto custom-toggler" id="dropdownmenu" type="button" data-toggle="dropdown"  >
          <span class="navbar-toggler-icon "></span>
        </button>
        <div class="dropdown-menu" id="dropdownmenu">
          <a class="dropdown-item" style="color: black"  href="{% url 'ResearchTypeListViewForWatch' %}">Список исследований в системе</a>
          <a class="dropdown-item" style="color: black" href="{% url 'createMeeting' %}">Создать заседание</a>
          <a class="dropdown-item" style="color: black" href="{% url 'logout' %}">Выход</a>
        </div>
    </div>
  </div>


</div><br>